
<ion-slides 
	pager					= "false" 
	[options]				= "slideOpts"
	(ionSlideDidChange)		= "afterSlideChange()"
	(ionSlidesDidLoad)		= "afterSlideChange()"
>
	<ion-slide 
		*ngFor = "let query of queries trackBy: trackSlides"			
	>
		<ion-content 
			fullscreen
			scroll-y	= "false"
			class		= "ion-padding"
		>

			<rcc-query [query] = "query">
			</rcc-query>

		</ion-content>
	</ion-slide>
</ion-slides>


<ion-footer color = "primary">
	<ion-toolbar>

		<ion-button 
			color		= "medium"
			fill		= "clear"
			[disabled] 	= "atStart"
			(click) 	= "slides.slidePrev()"
			slot		= "start"
		>
			<ion-icon md = "caret-back" ios = "chevron-back-circle-outline"></ion-icon>
		</ion-button>

		<ion-button
			[color]		= "activeQuery?.complete ? 'success' : 'dark'"
			[disabled] 	= "!activeQuery?.complete"
			(click)		= "checkOff()"
			expand		= "block"
		>
			<ion-icon name = "checkmark"></ion-icon>
		</ion-button>

		<ion-button 		
			color		= "medium"
			fill		= "clear"
			[disabled] 	= "atEnd"
			(click) 	= "slides.slideNext()"
			slot		= "end"
		>
			<ion-icon md = "caret-forward" ios = "chevron-forward-circle-outline"></ion-icon>
		</ion-button>			
		
	</ion-toolbar>	
</ion-footer>
