<ion-content 
	fullscreen 
	class		= "ion-padding" 
	scroll-y	= "false"
>
	<ion-slides 
		pager					= "false" 
		[options]				= "slideOpts"
		(ionSlideDidChange)		= "afterSlideChange()"
		(ionSlidesDidLoad)		= "afterSlideChange()"
	>
		<ion-slide 
			*ngFor = "let question of questions trackBy: trackSlides"			
		>
			<ng-container 
				[ngComponentOutlet] 			= "question | bestWidgetMatch" 
				[ngComponentOutletInjector] 	= "question | injectQuestion"
				(onInit) 						= "console.log(99)"
			></ng-container>    


		</ion-slide>
	</ion-slides>


	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button 
			color		= "dark"
			[disabled] 	= "atStart"
			(click) 	= "slides.slidePrev()"
		>
			<ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button
			color		= "success"
			[disabled] 	= "!activeQuestion?.complete"
			(click)		= "checkOff()"
		>
			<ion-icon name="checkmark"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button 		
			color		= "dark"
			[disabled] 	= "atEnd"
			(click) 	= "slides.slideNext()"
		>
			<ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>



</ion-content>
