<ion-header>
	<ion-toolbar>
		<ion-buttons slot = "start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		
		<ion-title>
			Reporting Schedule
		</ion-title>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item button (click) = "scanQR()">

			<ion-icon 
				name 	= "qr-code-outline"
				slot	= "start"
			></ion-icon>

			<ion-label>
				Import Reporting Schedule
			</ion-label>

			<ion-icon 
				name 	= "add-outline"				
				slot	= "end"
			></ion-icon>

		</ion-item>
		<ion-item
			*ngFor 			= 	"let reportingSchedule of reportingSchedules; index as index"
			[routerLink]	=	"[index]"
		>
			<ion-icon name="time-outline" slot = "start"></ion-icon>
			<ion-label>
				<h2>{{reportingSchedule.source}}</h2>
				<p>{{reportingSchedule.start | rccIgnoreTZ }}</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>